header {
  background-image: url("../images_style_sheets/fronds5.jpg");
  height: 100px;
}
ul {
  list-style-type: none;
  margin: -10px;
  display: flex;
  flex-directon: row;
  justify-content: center;
}
.icon img {
  height: 50px;
  padding-top: 20px;
  padding-right: 20px;
}

.nav {
  /*color: white;*/
  /*font-weight: bold;*/
  /*font-family: 'Londrina Shadow', cursive;
  font-weight: bold;*/
  /*text-decoration: none;*/
  /*padding: 0px;*/
  /*display: flex;*/
  /*justify-content: flex-end;*/
  /*font-size: 50px;*/
  /*width: 200px;*/
}

/*.nav:hover {
  color: rgb(242, 255, 134);
}*/

.hello {
  display: flex;
  justify-content: center;
  background-color: rgb(233, 177, 211);
  height: 600px;
}

.hello img {
  height: 500px;
  padding-right: 50px;
}
.parent {
  font-family: 'Amatic SC';
  color: white;
  font-size: 2em;
  width: 600px;
}
.parent h1 {
  color: white;
  margin-bottom: 0;
}
.parent p {
  margin-top: 0;
}
.parent a {
  text-decoration: none;
}
.ada:hover {
  font-weight: bold;
  color: rgb(102, 51, 167);
}
footer p {
  margin-top: 0;
  margin-bottom: 0px;
  color: white;
  height: 50px;
  font-family: 'Source Code Pro', monospace;
  background-image: url("../images_style_sheets/fronds5.jpg");
}
html {
  margin-bottom: 0;
}

.read {
  text-decoration: none;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: 50px;
  margin-bottom: 2px;
  margin-top: 0;
  padding-top: 20px;
  color: rgb(244, 23, 208);
}

/* Blog links*/
.blogs {
  height: 500px;
  background-color: #FFDDCF;
}
.logo, .container  {
  font-family: monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}
.blogs img {
  height: 300px;

}
.logo  {
  background-color: #FFDDCF;
}

/* GITHUB LINK HOVER CSS */
.container {
  position: relative;
  width: 50%;
}
.image {
  opacity: 1;
  display: block;
  /*width: 100px;*/
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.container:hover .image {
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.text {
  color: rgb(244, 23, 208);
  text-align: center;
  font-size: 25px;
}
