body {
  background-color: rgb(236, 199, 218);
}
header {
  text-align: center;
  font-size: 40px;
  padding: 2% 10% 0 10%;
  color: rgb(19, 113, 153);
  text-shadow: 2px 2px white;
  font-family: 'VT323', monospace;
  margin-bottom: 30px;
}
article {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 700px;
  height: 80%;
  border-radius: 2%;
  overflow-y: scroll;
}
ul {
  list-style-type: none;
}
.nav {
  font-family: 'Londrina Shadow', cursive;
  text-decoration: none;
  float: right;
  clear: right;
  font-size: 50px;
}
.nav:hover {
  color: rgb(19, 137, 179);
}
